@import "react-toolbox/lib/variables.css";

.body {
  min-height: calc(100vh - 6.4rem);
}

.circular {
  z-index: var(--z-index-highest);
  position: fixed;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}
